
<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">销售费用
      <% if can? :costs, :record_reports %>
        <small><%= link_to '更多', costs_record_reports_path , class: 'font-a label bg-green' %></small>
      <% end %>
    </h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div class="col-md-3">
      <ul class="chart-legend clearfix">
        <% @costs_pie_labels.each_with_index do |label, index| %>
          <li><i class="fa fa-circle-o" style="color: <%=@chatColor[index] %>"></i> <%= label %>: <%= @costs_pie_data[index] %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <canvas id="costs_pie" style="height:250px"></canvas>
    </div>

  </div>
  <!-- /.box-body -->
</div>
<script type="text/javascript">
    $(function(){
        myPieChat('costs_pie', <%= raw @costs_pie_labels %>, <%= raw @costs_pie_data %>);
    });
</script>