<div class="row">
  <%= render 'dynamic_reports/search/_select_columns/category' %>
  <%#= render 'dynamic_reports/search/_select_columns/company' %>
  <%= render 'dynamic_reports/search/_select_columns/contract' %>
  <%= render 'dynamic_reports/search/_select_columns/project' %>
  <%#= render 'dynamic_reports/search/_select_columns/agent' %>
  <%#= render 'dynamic_reports/search/_select_columns/user' %>
  <%= render 'dynamic_reports/search/_select_columns/organization' %>
  <%= render 'dynamic_reports/search/_select_columns/factory' %>
  <%= render 'dynamic_reports/search/_select_columns/order' %>
  <%= render 'dynamic_reports/search/_select_columns/product_category' %>
  <%= render 'dynamic_reports/search/_select_columns/product' %>
  <%= render 'dynamic_reports/search/_select_columns/order_product' %>
  <%= render 'dynamic_reports/search/_select_columns/sale' %>
</div>
