<%= render 'audits/header' %>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">待审批代理商</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>公司名</th>
            <th>代理商姓名</th>
            <th>联系电话</th>
            <th>申请人</th>
            <th>状态</th>
            <th></th>
          </tr>
          <% if @agents.present? %>
            <% @agents.each do |agent| %>
              <tr>
                <td><%= link_to agent.name, agent_path(agent), 'data-toggle' => "modal", 'data-target' => "#global-modal"%></td>
                <td><%= agent.username %></td>
                <td><%= agent.phone %></td>
                <td><%= agent.apply_user&.name %></td>
                <td><%= agent.get_status %></td>
                <td>
                  <%= link_to '通过', success_audit_path(agent, type: agent.class.name), class: 'btn btn-success btn-xs', data: {confirm: '确认通过该审核吗？'} %>
                  <%= link_to '打回', failed_notice_audit_path(agent, type: agent.class.name), 'data-toggle' => "modal", 'data-target' => "#global-modal", class: 'btn btn-danger btn-xs' %>
                </td>
              </tr>
              <tr></tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="6" align="center">暂无申请需要审批</td>
            </tr>
          <% end %>

        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-right pagination-sm no-margin">
          <%= paginate @agents%>
        </div>

      </div>
    </div>
    <!-- /.box -->
  </div>
</div>