<%= render 'audits/header' %>
<div class="row">
  <div class="box-body">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h4>立项审批</h4>

            <p style="height: 13px;"></p>
          </div>
          <div class="icon">
            <i class="fa  fa-building"></i>
          </div>
          <%= link_to projects_audits_path, class: 'small-box-footer' do %>
            详情 <i class="fa fa-arrow-circle-right"></i>
          <% end %>
        </div>
      </div>

      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h4>样品、礼品审批</h4>

            <p style="height: 13px;"></p>
          </div>
          <div class="icon">
            <i class="fa fa-gift"></i>
          </div>
          <%= link_to orders_audits_path, class: 'small-box-footer' do %>
            详情 <i class="fa fa-arrow-circle-right"></i>
          <% end %>
        </div>
      </div>

      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h4>特价审批</h4>

            <p style="height: 13px;"></p>
          </div>
          <div class="icon">
            <i class="fa  fa-money"></i>
          </div>
          <%= link_to  bargains_audits_path, class: 'small-box-footer' do %>
            详情 <i class="fa fa-arrow-circle-right"></i>
          <% end %>
        </div>
      </div>

      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h4>代理商审批</h4>

            <p style="height: 13px;"></p>
          </div>
          <div class="icon">
            <i class="fa fa-user"></i>
          </div>
          <%= link_to agents_audits_path, class: 'small-box-footer' do %>
            详情 <i class="fa fa-arrow-circle-right"></i>
          <% end %>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
          <div class="inner">
            <h4>我的审批记录</h4>

            <p style="height: 13px;"></p>
          </div>
          <div class="icon">
            <i class="fa fa-list-alt"></i>
          </div>
          <%= link_to audits_audits_path, class: 'small-box-footer' do %>
            详情 <i class="fa fa-arrow-circle-right"></i>
          <% end %>
        </div>
      </div>

    </div>


  </div>

  <!-- 初始化按钮 start -->
  <div class="col-md-12">

  </div>
  <!-- 初始化按钮 end -->

  <!-- 初始化配置 start -->


</div>