<%= render 'audits/header' %>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">待审批项目</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>项目名</th>
            <th>立项人</th>
            <th>立项时间</th>
            <th></th>
          </tr>
          <% if @projects.present? %>
            <% @projects.each do |project| %>
              <tr>
                <td><%= link_to project.name, project_path(project) %></td>
                <td><%= project.create_user.name %></td>
                <td><%= simple_time project.created_at %></td>
                <td>
                  <%= link_to '通过', success_audit_path(project, type: project.class.name), class: 'btn btn-success btn-xs', data: {confirm: '确认通过该审核吗？'} %>
                  <%= link_to '打回', failed_notice_audit_path(project, type: project.class.name), 'data-toggle' => "modal", 'data-target' => "#global-modal", class: 'btn btn-danger btn-xs' %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4" align="center">暂无项目需要审批</td>
            </tr>
          <% end %>

        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-right pagination-sm no-margin">
          <%= paginate @projects%>
        </div>

      </div>
    </div>
    <!-- /.box -->
  </div>
</div>