<div class="row">
  <div class="table-responsive col-sm-6">
    <table class="table">
      <tbody>
      <tr>
        <th style="width:50%">项目名</th>
        <td><%= @project.name %></td>
      </tr>
      <tr>
        <th>状态</th>
        <td><%= @project.status %></td>
      </tr>
      <tr>
        <th>甲方名称</th>
        <td><%= @project.a_name %></td>
      </tr>
      <tr>
        <th>项目类别</th>
        <td><%= @project.category %></td>
      </tr>
      <tr>
        <th>城市</th>
        <td><%= @project.city %></td>
      </tr>
      <tr>
        <th>项目地址</th>
        <td><%= @project.address %></td>
      </tr>
      <tr>
        <th>供货方式</th>
        <td><%= @project.supplier_type %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive col-sm-6">
    <table class="table">
      <tbody>
      <tr>
        <th>是否战略</th>
        <td><%= @project.strategic ? '是' : '否' %></td>
      </tr>
      <tr>
        <th>预估规模</th>
        <td><%= @project.estimate %></td>
      </tr>
      <tr>
        <th>负责人</th>
        <td><%= @project.owner&.name %></td>
      </tr>
      <tr>
        <th>创建人</th>
        <td><%= @project.create_user&.name %></td>
      </tr>
      <tr>
        <th>项目对接人</th>
        <td><%= @project.butt_name %></td>
      </tr>
      <tr>
        <th>对接人职务</th>
        <td><%= @project.butt_title %></td>
      </tr>
      <tr>
        <th>对接人电话</th>
        <td><%= @project.butt_phone %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>