<%= simple_form_for project do |f| %>
  <div class="box-body">
    <%= f.input :name, label: '项目名' %>
    <%= f.input :a_name, label: '甲方名称' %>
    <%= f.input :category, collection: ['地产', '酒店', '其他'], label: '项目类别' %>
    <%= f.input :city, label: '城市'%>
    <%= f.input :address, label: '项目地址' %>
    <%= f.input :supplier_type, label: '供货方式', collection: ['甲采', '甲指', '乙供'] %>
    <%= f.input :contract_id, label: '', collection: Contract.all.collect{|contract| ["#{contract.partner} / #{contract.no}", contract.id]} %>
    <%= f.input :estimate, label: '预估规模' %>
    <%= f.input :butt_name, label: '项目对接人名' %>
    <%= f.input :butt_title, label: '对接人职务' %>
    <%= f.input :butt_phone, label: '对接人电话' %>
    <%= f.button :submit, '提交', class: "btn btn-primary" %>
  </div>
<% end %>