<div class="col-md-4" id="order_<%= order.id %>_attachments">
  <p class="text-muted ">
    <% if @project.can_do?(type) && (order.wait? || order.failed?) && can?(:upload, :projects) %>
      <a class="btn btn-xs bg-blue" id="order_<%= order.id %>_place" href="#" >
        <i class="fa fa-plus"></i>
        <span>订货清单</span>
      </a>
      <% else %>
      <span><b>订货清单:</b></span>
    <% end %>
    <% if order.place_file.present? %>
      <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= order.place_file.preview_url%>" data-file-name="<%= order.place_file.file_name %>">
        <i class="fa fa-eye"></i><%= order.place_file.file_name %>
      </a>
    <% end %>
  </p>
  <p class="text-muted ">
    <span><b>发货清单:</b></span>
    <% if order.deliver_file.present? %>
      <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= order.deliver_file.preview_url%>" data-file-name="<%= order.deliver_file.file_name %>">
        <i class="fa fa-eye"></i><%= order.deliver_file.file_name %>
      </a>
    <% end %>
  </p>
  <p class="text-muted ">
    <% if can?(:upload, :projects) && (order.deliver? || order.sign?) %>
      <a class="btn btn-xs bg-blue" id="order_<%= order.id %>_sign" href="#" >
        <i class="fa fa-plus"></i>
        <span>签收清单</span>
      </a>
    <% else %>
      <span><b>签收清单:</b></span>
    <% end %>
    <% if order.sign_file.present?  %>
      <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= order.sign_file.preview_url%>" data-file-name="<%= order.sign_file.file_name %>">
        <i class="fa fa-eye"></i><%= order.sign_file.file_name %>
      </a>
    <% end %>
  </p>
</div>

<script type="text/javascript">
    <% if @project.can_do?(type) && (order.wait? || order.failed?) %>
      var place_qiniu = new QiniuJsSDK();
      var place_option = set_option('order_<%= order.id %>_place');
      var place_uploader = place_qiniu.uploader(place_option);
    <% end %>
    <% if @project.can_do?(type) && (order.sign? || order.deliver?)  %>
      var sign_qiniu = new QiniuJsSDK();
      var sign_option = set_option('order_<%= order.id %>_sign');
      var sign_uploader = sign_qiniu.uploader(sign_option);
    <% end %>
</script>