<div class="row">
  <div class="col-md-12">
    <!-- The time line -->
    <ul class="timeline"><!--timeline item -->
      <!--项目合同-->
      <%= render 'projects/process/contract' %>
      <!--预付款-->
      <%= render 'projects/process/advance' %>
      <!--操作模式-->
      <%= render 'projects/process/pattern' %>
      <!--做样板房-->
      <%= render 'projects/process/plate' %>
      <!--完善项目资料-->
      <%= render 'projects/process/detail' %>
      <!--批量订单-->
      <%= render 'projects/process/order' %>
      <!--开票申请-->
      <%= render 'projects/process/invoice' %>
      <!--进度款-->
      <%= render 'projects/process/process_payment' %>
      <!--结算款-->
      <%= render 'projects/process/settlement' %>
      <!--金额确认-->
      <%= render 'projects/process/payment' %>
      <!--保证金-->
      <%= render 'projects/process/bond' %>
      <!--项目结清确认-->
      <%= render 'projects/process/confirm' %>
      <!-- END timeline item -->
      <li>
        <i class="fa fa-clock-o bg-gray"></i>
      </li>
    </ul>
  </div>
  <!-- /.col -->
</div>