<%= render 'projects/header' %>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">项目列表
          <% if can? :new, :projects %>
            <small><%= link_to '立项', new_project_path , class: 'font-a label bg-green' %></small>
          <% end %>
        </h3>


      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>项目名</th>
            <th>甲方</th>
            <th>负责人</th>
            <th>订单应收</th>
            <th>进度款总额</th>
            <th>状态</th>
          </tr>
          <% if @projects.present? %>
          <% @projects.each do |project| %>
            <tr>
              <td><%= link_to project.name, project_path(project) %></td>
              <td><%= project.a_name %></td>
              <td><%= project.owner.name %></td>
              <td><%= project.need_payment %></td>
              <td><%= project.payment %></td>
              <td><%= project.status %></td>
            </tr>
          <% end %>
          <% else %>
            <tr>
              <td colspan="6" align="center">没有可显示的内容</td>
            </tr>
          <% end %>

        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-right pagination-sm no-margin">
        <%= paginate @projects%>
        </div>

      </div>
    </div>
    <!-- /.box -->
  </div>
</div>
