<%= render 'projects/header' %>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">项目列表
          <% if can? :new, :projects %>
            <small><%= link_to '立项', new_project_path , class: 'font-a label bg-green' %></small>
          <% end %>
        </h3>
      </div>
      <div class="box-tools">
        <%= form_tag projects_path, method: :get do %>
          <div class="input-group input-group-sm">
            <div class="pull-right">
              <div class="col-xs-6"><%= select_tag :payment_percent, options_for_select([['0%~25%', 'danger'], ['25%~50%', 'warning'], ['50%~75%', 'blue'],['75%~95%', 'info'], ['95%以上', 'green']], params[:payment_percent]), include_blank: '回款百分比', class: 'form-control' %></div>

              <div class="col-xs-6">
                <input type="text" name="table_search" class="form-control" placeholder="检索" value="<%= params[:table_search] %>">
              </div>
            </div>

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        <% end %>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>回款百分比</th>
            <th>项目名</th>
            <th>甲方</th>
            <th>负责人</th>
            <th>状态</th>
          </tr>
          <% if @projects.present? %>
          <% @projects.each do |project| %>
            <tr>
              <td>
                <%= link_to show_money_project_path(project), 'data-toggle' => "modal", 'data-target' => "#global-modal", class: 'btn  btn-sm' do %>
                <span class="label <%=get_color_class project %>"><%= format_float project.payment_percent %></span>
                  <% end %>
              </td>
              </td>
              <td><%= link_to project.name, project_path(project) %></td>
              <td><%= project.company&.name %></td>
              <td><%= project.owner.name %></td>
              <td><%= project.status %></td>
            </tr>
          <% end %>
          <% else %>
            <tr>
              <td colspan="7" align="center">没有可显示的内容</td>
            </tr>
          <% end %>

        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-right pagination-sm no-margin">
        <%= paginate @projects, params: {payment_percent: params[:payment_percent], table_search: params[:table_search]}%>
        </div>

      </div>
    </div>
    <!-- /.box -->
  </div>
</div>
