<div id="invoices">
  <script type="text/javascript">
      function set_option(id){
          return {
              runtimes: 'html5,html4',          //上传模式,依次退化
              browse_button: id,       //上传选择的点选按钮，**必需**
              uptoken : '<%= @uptoken %>',
              //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成
              unique_names: true,
              // 默认 false，key为文件名。若开启该选项，SDK会为每个文件自动生成key（文件名）
              save_key: true,
              // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK在前端将不对key进行任何处理
              domain: '<%= Rails.application.config.qiniu_domain %>',
              //bucket 域名，下载资源时用到，**必需**
              // container: 'container',           //上传区域DOM ID，默认是browser_button的父元素，
              max_file_size: '150mb',           //最大文件体积限制
              // flash_swf_url: 'js/plupload/Moxie.swf',  //引入flash,相对路径
              max_retries: 3,                   //上传失败最大重试次数
              // dragdrop: true,                   //开启可拖曳上传
              // drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
              chunk_size: '4mb',                //分块上传时，每片的体积
              auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
              filters: [
                  {title: "files", extensions: "xls,xslx,doc,docx,pdf,png,jpg,jpeg,gif,bmp"}
              ],
              init: {
                  'FilesAdded': function (up, files) {
                      plupload.each(files, function (file) {
                          // 文件添加进队列后,处理相关的事情
                      });
                  },
                  'BeforeUpload': function (up, file) {
                      showSpinner();
                      // 加载loading
                      // 每个文件上传前,处理相关的事情
                  },
                  'UploadProgress': function (up, file) {
                      // 每个文件上传时,处理相关的事情
                  },
                  'FileUploaded': function (up, file, info) {
                      // 每个文件上传成功后,处理相关的事情
                      // 其中 info 是文件上传成功后，服务端返回的json，形式如
                      // {
                      //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
                      //    "key": "gogopher.jpg"
                      //  }
                      // 参考http://developer.qiniu.com/docs/v6/api/overview/up/response/simple-response.html
                      var domain = up.getOption('domain');
                      console.log(info);
                      var res = $.parseJSON(info.response);
                      // var res = parseJSON(info);
                      var sourceLink = domain + res.key; //
                      // 提交到服务器
                      // console.log(info);
                      console.log(sourceLink);
                      $.ajax({
                          type: 'POST',
                          url: '<%= upload_file_manage_invoices_path  %>',
                          data: {path: res.key, file_name: file.name, id: id},
                          dataType: 'script',
                          success: function (data) {

                          }
                      })
                  },
                  'Error': function (up, err, errTip) {
                      //上传出错时,处理相关的事情
                      console.log(err);
                      alert(err.message);
                  },
                  'UploadComplete': function () {
                      //队列文件处理完毕后,处理相关的事情
                      console.log('complete')
                  },
                  'Key': function (up, file) {
                      // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                      // 该配置必须要在 unique_names: false , save_key: false 时才生效
                      var key = "";
                      // do something with key here
                      return key
                  }
              }
          }
      }
  </script>
  <div class="box-body" style="overflow-x: scroll">
    <table class="table table-bordered">
      <tr>
        <th>项目名</th>
        <th>开票号</th>
        <th>下单人</th>
        <th>申请时间</th>
        <th>状态</th>
        <th>单据</th>
        <th></th>
      </tr>
      <% if @invoices.present? %>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= link_to invoice.project.name, project_path(invoice.project) %></td>
            <td>
              <%= link_to invoice.no, invoice_path(invoice), 'data-toggle' => "modal", 'data-target' => "#global-modal"%>
            </td>
            <td><%= invoice.user&.name %></td>
            <td><%= simple_time invoice.apply_at %></td>
            <td><%= invoice.get_status%></td>
            <td>
              <% if invoice.invoice_file.present? %>
                <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= invoice.invoice_file.preview_url%>" data-file-name="<%= invoice.invoice_file.file_name %>">
                  <i class="fa fa-eye"></i>开票文件
                </a>
                <br/>
              <% end %>

            </td>
            <td align="center">
              <% if  can?(:upload_file, :manage_invoices) && (invoice.applied? || invoice.sended?) %>
                <a class="btn btn-xs bg-blue" id="<%= invoice.id %>" href="#" >
                  <i class="fa fa-plus"></i>
                  <span>
                    开票文件
                  </span>
                </a>
                <script type="text/javascript">
                    var qiniu = new QiniuJsSDK();
                    var option = set_option('<%= invoice.id %>');
                    var uploader = qiniu.uploader(option);
                </script>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="7" align="center">没有可显示的内容</td>
        </tr>
      <% end %>

    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <div class="pull-right pagination-sm no-margin">
      <%= paginate @invoices, remote: true, params: {invoice_status: params[:invoice_status], table_search: params[:table_search]} %>
    </div>

  </div>
</div>

