<%= render 'record_reports/header' %>
<div class="row">
  <div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="col-md-6">
       <%= render 'record_reports/orders/pie' %>
      </div>
      <div class="col-md-6">
        <%= render 'record_reports/projects/category_pie' %>
      </div>
      <div class="col-md-6">
        <%= render 'record_reports/projects/projects_pie' %>
      </div>
      <div class="col-md-6">
        <%= render 'record_reports/products/pie' %>
      </div>
      <div class="col-md-6">
        <%= render 'record_reports/users/pie' %>
      </div>
      <div class="col-md-6">
        <%= render 'record_reports/users/cost' %>
      </div>
    </div>
  </div>
</div>