<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="产品报表">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">时间</Data></Cell>
        <Cell><Data ss:Type="String">产品类别</Data></Cell>
        <Cell><Data ss:Type="String">产品名</Data></Cell>
        <Cell><Data ss:Type="String">下单数量</Data></Cell>
        <Cell><Data ss:Type="String">下单金额</Data></Cell>
        <Cell><Data ss:Type="String">发货数量</Data></Cell>
        <Cell><Data ss:Type="String">发货金额</Data></Cell>
      </Row>

      <% @table_data.each do |data| %>
        <Row>
          <Cell><Data ss:Type="String"><%= data[0] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= data[1].product_category&.name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= data[1].name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= (@applied_hash[data[0]].present? && @applied_hash[data[0]][data[1]].present?) ? @applied_hash[data[0]][data[1]][:number] : 0 %></Data></Cell>
          <Cell><Data ss:Type="String"><%= (@applied_hash[data[0]].present? && @applied_hash[data[0]][data[1]].present?) ? @applied_hash[data[0]][data[1]][:amount] : 0 %></Data></Cell>
          <Cell><Data ss:Type="String"><%= data[2] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= data[3] %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>