<%= render 'record_reports/header' %>
<div class="row">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">项目报表</h3>
      <%= link_to '导出', projects_record_reports_path(format: 'xls', date_range: params[:date_range], user_id: params[:user_id], project_id: params[:project_id], group_type: params[:group_type]) %>
    </div>
    <div class="box-tools">
      <%= form_tag projects_record_reports_path, method: :get do %>
      <%= render 'record_reports/search' %>
      <% end %>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <%= render 'record_reports/projects/bar' %>

    </div>
  </div>
</div>