<li class="time-label">
                  <span class="bg-purple">
                    结算款
                  </span>
</li>

<li>
  <i class="fa fa-file-pdf-o bg-green"></i>

  <div class="timeline-item">
    <div class="form-group">

    </div>
    <div class="timeline-body">
      <label for="exampleInputFile">结算款资料</label>
      <div >
        <% if @project.can_do? :settlement %>
        <a class="btn btn-default " id="settlements" href="#" >
          <i class="fa fa-plus"></i>
          <span>选择文件</span>
        </a>
          <% end %>
      </div>

      <% if @project.settlements.present? %>
        <% @project.settlements.each do |settlement| %>
          <div>
          <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= settlement.preview_url%>" data-file-name="<%= settlement.file_name %>">
            <i class="fa fa-eye"></i><%= settlement.file_name %>
          </a>
          <%= link_to '删除', 'JavaScript:void(0)', onclick: "delete_attachment(#{settlement.id}, '#{delete_attachment_project_path @project.id}')",class: 'btn  btn-sm ', style: 'color: red' if @project.can_do? :settlement %>
          </div>
        <% end %>
        <div style="text-align: right">
          <%= link_to '下一步', 'JavaScript:void(0)', onclick: "step_event('done_settlement')",class: 'btn  btn-success btn-sm' if @project.can_do? :settlement %>
        </div>
      <% end %>
    </div>
  </div>
</li>