<%= render 'projects/header' %>

<div class="row">
  <div class="col-md-10">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">订单列表</h3>
        <div class="box-tools">
          <%= form_tag manage_orders_path, method: :get do%>
          <div class="input-group input-group-sm">
            <div class="pull-right">
              <div class="col-xs-6"><%= select_tag :order_status, options_for_select(Order::STATUS.collect{|status| [status[1], status[0]]}, params[:order_status]),include_blank: '全部', class: 'form-control' %></div>

              <div class="col-xs-6"><input type="text" name="table_search" class="form-control" placeholder="Search" value="<%= params[:table_search] %>"></div>
            </div>

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
            <% end %>
        </div>
      </div>
      <!-- /.box-header -->
      <div id="records">
        <%= render 'manage_orders/orders' %>
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>

