<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login-form') do |f| %>
   <%p alert %>
  <div style="margin-top: -20px;"><span style="color: orangered;font-size:14px;"><%= alert %></span></div>
    <div class="form-group">
      <label class="sr-only" for="login">账号</label>
      <%= f.text_field :login, autofocus: true, autocomplete: "login", class: 'form-username form-control', placeholder: "账号" %>
    </div>
    <div class="form-group">
      <label class="sr-only" for="password">密码</label>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-password form-control", placeholder: "密码"%>
    </div>
  <div style="margin-top: -20px;"><span style="color: #fff;font-size:12px;">忘记账号、密码请联系上级管理员</span></div>
    <%= f.submit "登录", class: "btn", style: 'margin-top:20px;' %>

<% end %>



