<div class="row" id="product-list">
  <div class="col-md-10">
    <div class="box">
      <%= form_tag products_path, method: :get do%>
      <div class="box-header with-border">
        <h3 class="box-title">产品列表</h3>
        <% if can? :new, :products %>
          <small><%= link_to '添加产品', new_product_path , class: 'font-a label bg-green', 'data-toggle' => "modal", 'data-target' => "#global-modal" %></small>
        <% end %>
        <div class="pull-right">
          <% if can? :import, :products %>
            <small><%= link_to '批量导入', import_products_path , class: 'font-a label bg-green', 'data-toggle' => "modal", 'data-target' => "#global-modal" %></small>
          <% end %>
        </div>
      </div>
      <div class="box-tools">
        <div class="input-group input-group-sm">
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" name="table_search" class="form-control" placeholder="检索" value="<%= params[:table_search] %>">
            </div>
          </div>

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>


      <% end %>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>序号</th>
            <th>产品名</th>
            <th>产品型号</th>
            <th>价格</th>
            <th></th>
          </tr>
          <tr>
            <% if products.present? %>
              <% products.each do |product| %>
              <tr>
                <td><%= link_to product.no, product_path(product), 'data-toggle' => "modal", 'data-target' => "#global-modal" %></td>
                <td><%= product.name %></td>
                <td><%= product.product_no %></td>
                <td><%= product.reference_price %></td>
                <td>
                  <% if can? :contract_sales, :products %>
                    <%= link_to contract_sales_product_path(product), class: 'label label-info' do %>
                      <i class="fa fa-search"></i>合同价
                    <% end %>
                  <% end %>
                  <% if can? :edit, :products %>
                    <%= link_to  edit_product_path(product), class: 'label label-success left-20', 'data-toggle' => "modal", 'data-target' => "#global-modal" do %>
                      <i class="fa fa-edit"></i>编辑
                    <% end %>
                  <% end %>
                  <% if can? :destroy, :products %>
                    <%= link_to product_path(product), method: :delete, data: {confirm: '确定删除吗？'}, class: 'label label-danger left-20' do %>
                                        <i class="fa fa-close"></i>删除
                    <% end %>
                  <% end %>

                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5" align="center">没有可显示的内容</td>
            </tr>
          <% end %>
          </tr>

        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-right pagination-sm no-margin">
          <%= paginate products, params: {table_search: params[:table_search]} %>
        </div>
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>