<div id="form">
  <div class="modal-header" style="padding:5px; padding-left: 15px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="file-modal-label"></h4>
  </div>
  <%= simple_form_for(@sale, html: {class: 'form-horizontal group_form', onkeydown: "if(event.keyCode==13)return false;"}, wrapper: :horizontal_form) do |f| %>
    <div class="modal-body" >
      <%= f.input :product_id, label: '序号/产品名/产品型号', input_html: { class: 'select2 form-control', style: 'width:100%' }, collection: Product.all.collect{|p| ["#{p.no} / #{p.name} / #{p.product_no}", p.id]} %>
      <%= f.input :price, label: '价格' %>
      <%= f.input :desc, label: '备注' %>
    </div>
  <% end %>

  <div class="modal-footer">
    <%= button_tag '保存', class: 'btn btn-primary commit commit', data: { disable_with: '保存中' } %>
    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
  </div>
</div>
<script tye="text/javascript">
    //ajax提交表单
    $(function(){
        $('.commit').click(function(){
            $.ajax({
                type: "POST",
                url: $('.group_form').attr('action'),
                data: $('.group_form').serialize(),
                dataType: 'script',
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function(data) {
                    //接收后台返回的结果
                }
            });

        })
        $('.select2').select2();

    });
</script>


