<div class="row" id="sale-list">
  <div class="col-md-10">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">价格体系</h3>
        <% if can? :new, :sales %>
          <%= create_link Sale.new, '添加价格', 'data-toggle' => "modal", 'data-target' => "#global-modal", class: 'font-a label pull-right bg-green', style: 'font-size: 100%' %>
        <% end %>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>序号</th>
            <th>产品型号</th>
            <th>价格</th>
            <th></th>
          </tr>
          <tr>
            <% if sales.present? %>
              <% sales.each do |sale| %>
              <tr>
                <td><%= link_to (sale.product&.no).to_s, sale_path(sale), 'data-toggle' => "modal", 'data-target' => "#global-modal" %></td>
                <td><%= sale.product&.product_no %></td>
                <td><%= sale.price %></td>
                <td>
                  <% if can? :edit, :sales %>
                  <%= link_to  edit_sale_path(sale), class: 'label label-success', 'data-toggle' => "modal", 'data-target' => "#global-modal" do %>
                    <i class="fa fa-edit"></i>编辑
                  <% end %>
                  <% end %>
                  <% if can? :destroy, :sales %>
                  <%= link_to sale_path(sale), method: :delete, data: {confirm: '确定删除吗？'}, class: 'label label-danger left-20' do %>
                                      <i class="fa fa-close"></i>删除
                  <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="6" align="center">没有可显示的内容</td>
            </tr>
          <% end %>
          </tr>

        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-right pagination-sm no-margin">
        </div>
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>