<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

<body class="hold-transition sidebar-mini <%= !@demo_mode ? @layout  + ' ' + @top_nav + ' ' + @sidebar + ' ' + @skin : 'skin-blue' %>">

  <div class="wrapper">

    <% if @demo_mode || @top_nav == '' %>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/sidebar' %>
    <% else %>
      <%= render 'layouts/navbar_only' %>
    <% end %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" >
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <%= yield(:content_header) %>
      </section>

      <!-- Main content -->
      <section class="content">
        <%= yield %>
      </section>

    </div>

    <%= render 'layouts/footer' %>
    <% if @demo_mode || @top_nav == '' %>
      <%= render 'layouts/control_sidebar' %>
    <% end %>

  </div>
  <%= render 'layouts/modal' %>
  <%= render 'layouts/tips' %>


  <script>
    <% if !@demo_mode %>
      <% if @collapsed_sidebar_expand_on_hover %>
        collapsed_sidebar_expand_on_hover();
      <% end %>
      <% if @right_sidebar_slide %>
        right_sidebar_slide();
      <% end %>
    <% else %>
    <% end %>
  </script>
  <div id="spinner">

  </div>
</body>
</html>
